@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: "Noto Serif", serif;
    color: #000000;
    background-color: #fdfdc9;
    font-size: 20px;
}

header {
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;

}

h1 {
    font-family: "Anton", sans-serif;
    font-size: 50px;
}

h2 {
    font-family: "Anton", sans-serif;
    font-size: 30px;
}

nav {
    text-align: center;
    font-size: 35px;
}

a {
    color: #006684;
    font-size: 20px;
}

.p-text {
    margin: 80px 0 80px 0;
    font-size: 20px;
}

.subtext {
    text-align: right;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.center-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.text-right-container {
    justify-content: flex-end;
    text-align: left;
}

.text-left-container {
    justify-content: flex-end;
    text-align: right;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 0 1rem;
    color: white;
}