@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');



h1 {
    color: #7A9F79;
}

h2 {
    color: #ECBDC4
}

h4 {
    color: #918ABC
}

h1 {
    font-family: "Oleo Script", system-ui;
}

h4 {
    font-family: "Caveat Brush", cursive;
}

body {
    font-family: "Merriweather", serif;
}

h2 {
    font-family: "Caveat Brush", cursive;
}

body {
    background-color: #fdfdc9
}

.resume h5 {
    text-align: right;
}

h6 {
    font-size: larger;
}

header {
    border-bottom: 2px solid #e6dbac;
    background-color: #e6dbac;
}

nav {
    padding: 2em 0;
    text-align: center;
}

a {
    color: black;
    letter-spacing: .5px;
    font-weight: 550;
}

.subtext {
    text-align: right;
}

.claudia {
    border-radius: 20%;
}