body {
    background-color: #aaf7f4
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #163fe7;
}

h1,
h2,
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

p {
    font-family: Verdana, sans-serif;
}

.music {
    color: red;
}